<head>
    <title>Admin Login</title>

</head>
<body>
    <center>
        <h1>Admin Login</h1>
        <br>
        <br>
        {% if message %}
            <b style="color: red; ">{{ message }}</b>
            <br>
            <br>
        {% endif %}
        
        <form method="POST" action="/login">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username" placeholder="Enter Username"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" placeholder="Enter Password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    </center>
</body>