<head>
    <title>Trip RSVP</title>

</head>
<body>
    <center>
        <h1>Trip RSVP</h1>
        <br>
        <br>
        <form method="POST" action="/login">
            <table>
                <th>
                    Scout
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <tr>
                    <td>GOING</td>
                    <td></td><td></td>
                </tr>
                {% for scout in going %}
                <tr>
                    <td>
                        {{ scout['name'] }}
                    </td>
                    <td>
                        {{ scout['email'] }}
                    </td>
                    <td>
                        {{ scout['phone'] }}
                    </td>
                </tr>
                {% endfor %}
                <tr><td></td></tr>
                <tr>
                    <td>
                        NOT GOING
                    </td>
                    <td></td>
                    <td></td>

                </tr>
                {% for scout in not_going %}
                <tr>
                    <td>
                        {{ scout['name'] }}
                    </td>
                    <td>
                        {{ scout['email'] }}
                    </td>
                    <td>
                        {{ scout['phone'] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </center>
</body>