<head>
    <title>Trip RSVP</title>

</head>
<body>
    
        {% for trip in reversed(allRsvp) %}
        <center>
        <h1>Trip RSVP - {{trip['name']}}</h1>
        <br>
        <br>
            <table>
                <th>
                    Scout
                </th>
                <th> </th>
                <th>
                    Email
                </th>
                <th> </th>
                <th>
                    Phone
                </th>
                <th> </th>
                <th>
                    RSVP
                </th>
                <tr>
                    
                    <td></td><td></td>
                </tr>
                {% for scout in trip['going'] %}
                <tr>
                    <td>
                        {{ scout['name'] }}
                    </td>
                    <td> </td>
                    <td>
                        {{ scout['email'] }}
                    </td>
                    <td> </td>
                    <td>
                        {{ scout['phone'] }}
                    </td>
                    <td> </td>
                    <td> <b>IS</b> Going </td>
                </tr>
                {% endfor %}
                {% for scout in trip['not_going'] %}
                <tr>
                    <td>
                        {{ scout['name'] }}
                    </td>
                    <td> </td>
                    <td>
                        {{ scout['email'] }}
                    </td>
                    <td> </td>
                    <td>
                        {{ scout['phone'] }}
                    </td>
                    <td> </td>
                    <td> <b>IS NOT</b> Going </td>
                </tr>
                <br>
                <br>
                <br>
                {% endfor %}
                
            </table>
            
    </center>
    {% endfor %}
</body>